node_modules/
.expo/
dist/
npm-debug.*
yarn-debug.*
yarn-error.*

# .env
.env
.env.local

# Android & iOS
android/
ios/
*.apk
*.aab

# .NET Core
**/bin/
**/obj/
*.userprefs
*.user
*.suo
*.docstates

# Next.js
nalamapp-webportal/.next/
nalamapp-webportal/out/
nalamapp-webportal/build/

# macOS
.DS_Store
.AppleDouble
.LSOverride
